{% comment %}
  Usage:
    {% assign lists = site.posts %}
    {% include calendar.html %}

    1. define "lists"
    2. call include calendar.html

{% endcomment %}
<div class="content_tree_list">
<ul>

  {% assign show_year  = site.time | date: "%Y" %}
  {% assign show_month = site.time | date: "%m" %}

  <!-- はじめの年は問答無用で表示するためのフラグ -->
  {% assign is_year_first  = true %}
  <!-- はじめの年は問答無用で表示するためのフラグ -->
  {% assign is_month_first = true %}
  {% for post in lists %}
      {% assign year  = post.date | date: "%Y" %}
      {% assign month = post.date | date: "%m" %}

      {% if is_year_first or show_year != year %}
        {% unless is_month_first %}
          </li>
        {% endunless %}

        {% assign is_year_first = false %}
        {% assign show_year = year %}

	<li> {{ year }} |

      {% endif %}

      {% if is_month_first or show_month != month %}

        {% assign is_month_first = false %}
        {% assign show_month = month %}

        {{ month }} |

      {% endif %}
  {% endfor %}
  </li>

</ul>
</div>
