<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/favicon.ico">
  </head>
  <body>
    {% include ga.html %}

    <div class="header">
      <nav>
        <ul>
          <li><a href="/">{{ site.title }}</a></li>
          <li class="main-nav"><a href="/archives.html">Archive</a>
          <li class="main-nav"><a href="/tags.html">Tag</a>
          <li class="main-nav"><a href="/monitor.html">Monitor</a>
        </ul>
      </nav>
    </div>

    <div id="container">
      <article class="markdown-body">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div class="published">
          {% if page.tags %}
            <span>Tags: </span>
            {% for tag in page.tags %}
              <span>[ <code><a href="/tags.html#{{ tag }}" class="tag">{{ tag }}</a></code> ]</span>
            {% endfor %}
          {% endif %}
          {% if page.date %}
            <span>Published: {{ page.date | date: "%Y/%m/%d" }}</span>
          {% endif %}
        </div>

