<div class="pagination">
  <ul>
    {% if page.previous %}
      <li class="prev">
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
          {{ page.previous.title }}
        </a>
      </li>
    {% else %}
      <li class="prev_disabled">
        <a>最古</a>
      </li>
    {% endif %}
    <li>
      <a href="/archives/">Archive</a>
    </li>
    {% if page.next %}
      <li class="next">
        <a href="{{ page.next.url }}" title="{{ page.next.title }}">
          {{ page.next.title }}
        </a>
      </li>
    {% else %}
      <li class="next_disabled">
        <a>最新</a>
      </li>
    {% endif %}
  </ul>
</div>
