<div class="social-module">
    <br>
  <!-- Tweet Button -->
  <a href="https://twitter.com/share"
     data-url="{{ site.production_url }}{{ page.url }}" data-text="{{ site.title }} - {{ page.title }}" data-related="{{ site.author.name }}"
     data-lang="ja" data-size="horizontal" data-dnt="true" class="twitter-share-button">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js" charset="utf-8" async="async"></script>

  <!-- Hatena Bookmark Users -->
  <a href="http://b.hatena.ne.jp/entry/{{ site.production_url }}{{ page.url }}/">
    <img src="http://b.hatena.ne.jp/entry/image/{{ site.production_url }}{{ page.url }}/" />
    </a>
  <!-- Hatena Bookmark Button -->
  <a href="http://b.hatena.ne.jp/entry/{{ site.production_url }}{{ page.url }}/"
     data-hatena-bookmark-title="{{ site.title }} - {{ page.title }}"
     data-hatena-bookmark-layout="standard" class="hatena-bookmark-button" title="add Hatena bookmark">
    <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
	 alt="add Hatena bookmark" width="20" height="20" style="border: none;" />
    </a>
  <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  <!-- Hatena Bookmark comment http://blog.masuidrive.jp/2008/04/17/released-hatena-bookmark-anywhere/ -->
  <script type= "text/javascript">/*<![CDATA[*/
var hatena_bookmark_anywhere_limit = 999; // 表示する件数
// var hatena_bookmark_anywhere_style = true; // trueでデフォルトスタイル falseを設定するとCSSでスタイルの指定が可能
// var hatena_bookmark_anywhere_collapse = false; // trueにすると、コメントの書いてないブクマを表示しない。指定しない場合は、表示件数を超えた場合のみコメントを表示しない
var hatena_bookmark_anywhere_url = "{{ site.production_url }}{{ page.url }}/"; // 表示するURL 未指定の場合、現在のページ
/*]]>*/</script>
  <script src="https://rawgithub.com/masuidrive/hatena-bookmark-anywhere/master/hatena-bookmark-anywhere-0-1.js" type="text/javascript" charset="utf-8"></script>
  <div id="hatena_bookmark_anywhere"></div>
</div>
