{{ define "title" }}
  {{ .Title }} - {{ .Site.Title }}
{{ end }}

{{ define "fixside" }}
  {{ partial "fixside.html" . }}
{{ end }}

{{ define "flowside" }}
  {{ partial "flowside.html" . }}
{{ end }}

{{ define "main" }}

  {{ if eq .Params.layout "post" }}

    <!-- post -->
    <div class="Subhead">
      <div class="Subhead-heading">
        <div class="h2 mt-3 mb-1">{{ .Title }}</div>
      </div>
      <div class="Subhead-description">
        <!--<div class="float-md-left">{{ partial "social.html" . }}</div>-->
        <div class="float-md-right">
          Tags: {{ partial "taxonomy.html" . }}
          Published: <span>{{ .Date.Format "2006/01/02" }}</span>
        </div>
     </div>
    </div>

    {{ partial "toc.html" . }}

    <article>
     <section class="pb-6 mb-3 border-bottom">
        {{ .Content }}
      </section>
    </article>

    <!--{{ partial "social.html" . }}-->
    {{ partial "related.html" . }}
    {{ partial "relatedsection.html" . }}

  {{ else }}

    <!-- page -->
    <div class="Subhead">
      <div class="Subhead-heading">
        <div class="h2 mt-3 mb-1">{{ .Title }}</div>
      </div>
    </div>
    <article>
     <section class="pb-6 mb-3 border-bottom">
        {{ .Content }}
      </section>
    </article>

  {{ end }}

{{ end }}
 
