<ul>
  {{ range .Pages }}

    {{ if eq .Params.layout "post" }}

      {{ if .Draft }}
        <li class="draft">
      {{ else }}
        <li>
      {{ end }}

      <span>{{ .Date.Format "2006/01/02" }} </span>
      {{ partial "taxonomy.html" . }}

      <a class="mb-2" href="{{ .URL }}">{{ .Title }}</a>

      {{ if .Params.old_url }}
        <!-- はてな時代の -->
        <a href="http://b.hatena.ne.jp/entry/{{ .Params.old_url }}">
          <img src="https://b.hatena.ne.jp/entry/image/{{ .Params.old_url }}" />
        </a>
      {{ end }}

      <!-- https -->
      <a href="http://b.hatena.ne.jp/entry/{{ .Site.BaseURL }}{{ .URL }}" class="bookmark-widget-counter">
        <img src="https://b.hatena.ne.jp/entry/image/{{ .Site.BaseURL }}{{ .URL }}" />
      </a>

      <!-- http 本当にこれしか取得方法ない？-->
      <a href="http://b.hatena.ne.jp/entry/{{ replace .Site.BaseURL "https://" "http://" }}{{ .URL }}" class="bookmark-widget-counter">
        <img src="https://b.hatena.ne.jp/entry/image/{{ replace .Site.BaseURL "https://" "http://" }}{{ .URL }}" />
      </a>

      </li>
    {{ end }}
  {{ end }}
</ul>
