{{ $current_post_publish_date := .Date.Format "20060102" }}

{{ $related := .Site.RegularPages.Related . | first 15 }}
{{ with $related }}
<h2>関連記事(この記事より古いとリンクがグレーになります)</h2>
<ol>
  {{ range . }}
    {{ if lt 0 (sub (int (.Date.Format "20060102")) (int ($current_post_publish_date))) }}
      <li class="newer-post">
    {{ else }}
      <li class="older-post">
    {{ end }}
      <span>{{ .Date.Format "2006/01/02" }} </span>
      {{ partial "taxonomy.html" . }}

      <a class="mb-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
</ol>
{{ end }}
