<div id="profile" class="Box Box-blue p-2 mb-3 mt-5">
  <h3>Link</h3>
  <ul>
    <li>
      <a href="https://github.com/gosyujin">GitHub</a>
    </li>
    <li>
      <a href="http://www.slideshare.net/kk_Ataka">Slideshare</a>
    </li>
    <li>
      <a href="http://connpass.com/user/kk_Ataka/">Connpass</a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheets/u/0/">SpreadSheet</a>
    </li>
    <li>
      <a href="https://calendar.google.com/calendar/r/">GoogleCalendar</a>
    </li>
  </ul>
</div>
