<div class="social">
  <!-- Tweet Button -->
  <a href="https://twitter.com/share"
    data-url="{{ .Site.BaseURL }}{{ .URL }}"
    data-text="{{ .Title }} - {{ .Site.Title}}"
    data-related=""
    data-lang="ja"
    data-size="horizontal"
    data-dnt="true"
    class="twitter-share-button">Tweet</a>
  <script type="text/javascript"
    src="http://platform.twitter.com/widgets.js"
    charset="utf-8" async="async"></script>

  <!-- Hatena Bookmark Button -->
  <a href="http://b.hatena.ne.jp/entry/{{ .Site.BaseURL }}{{ .URL }}"
    data-hatena-bookmark-title="{{ .Title }} - {{ .Site.Title }}"
    data-hatena-bookmark-layout="standard"
    class="hatena-bookmark-button"
    title="add Hatena bookmark">
    <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
      alt="add Hatena bookmark"
      width="20" height="20" style="border: none;" />
  </a>
  <script type="text/javascript"
    src="http://b.st-hatena.com/js/bookmark_button.js"
    charset="utf-8" async="async"></script>

  <!-- Hatena Bookmark Users -->
  <a href="http://b.hatena.ne.jp/entry/{{ .Site.BaseURL }}{{ .URL }}">
    <img src="http://b.hatena.ne.jp/entry/image/{{ .Site.BaseURL }}{{ .URL }}" />
  </a>
</div>
